*{
  line-height: 2em;
  letter-spacing: 0.8px;
  font-family:helvetica;
  padding:0;
  margin:0;
}
.container{
  height:100%;
}
.header{
  background-color:#444444;
  border-bottom: 3px solid black;
  opacity: 0.9;
}
.paulstonegroup{
  float:right;
}
ul{
margin-left:48px;
}
li{
  display: inline;
  list-style: none;
  margin: auto;
}
a{
  text-decoration: none;
  padding:15px 30px 15px 30px;
  font-size: 30px;
  color:#fff;
}
a:hover{
  color:grey;
  transition: 0.3s;
  border-bottom:2px solid red;
}
.contact{
  color:white;
  font-size:25px;
  float:right;
  margin:5px 20px 10px 10px;
}
.email{
  color:white;
  font-size:25px;
  float:right;
  margin:5px 20px 10px 10px
}
article{
  padding:25px;
  margin:0px 20px 20px 20px;
  line-height: 3em;
  width:80%;
  border:1px solid red;
}
p{
  font-size:19px;
  line-height:1.9em;
}
.heading{
  font-family: helvetica;
  font-weight:bold;
  color:red;
  font-size: 30px;
}
.subheading{
  color:red;
  font:arial;
}
